@charset "UTF-8";



body {
     min-height: 97vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: bisque;
  display: flexbox;
  
}



header {
    background-color: rgb(29, 29, 29);
    color: aliceblue;
   text-align: center;
   padding: 10px 10px 10px 5px;
   margin: auto;
   background-size: auto;
}
.link1{
    text-align: left;
    color: white;
    width: ;;
    padding-left: 20px;
    text-decoration: none;
    
}


a:hover {

    text-decoration: underline;
    
}

section.professor {
    color: orange;
  

}


article > h2 {

    padding-left: 5px;
    color: rgb(255, 166, 1);
}

article > p{
    min-width: 87vw;
    background-color: rgba(252, 186, 65, 0.39);
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: inset 5px 5px 13px;
    border-radius: 5px;
    padding: 25px;
    
    
}

footer  {
    background-color: rgba(61, 61, 61, 0.493);
    text-align: center;
    padding: 2px;
   font-size: large;
   text-align: start;

   
    
}

